table{
    box-shadow: 5px 4px 4px #c5d3e0 ;
}



.delete-btns{
    font-weight: 500;
    color: aliceblue;
    background-color: rgba(128, 30, 30, 0.989);
}
p{
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}



