table{
    box-shadow: 5px 4px 4px #c5d3e0 ;
}

h1{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.8rem;
}

.delete-btns{
    font-weight: 500;
    color: aliceblue;
    background-color: rgba(128, 30, 30, 0.989);
}