<div class="my-container">
    <header>
        <h1 class="pt-3">Wellcome To MyCookBook</h1>
    </header>
    <main>

    <div class="my-flex">
        <img class="img-fluid m-3" src="../../assets/bowl.png" alt="" width="250px" height="250px">
    </div>
    

        <div class="container">
            <div class="row justify-content-center">
                <a routerLinkActive="active"  routerLink="/create-recipe" class="btn col-md-4 col-6">Login</a>
            </div>
            <div class="row justify-content-center ">
                <a routerLinkActive="active"  routerLink="/create-recipe" class="btn mt-1  col-md-4 col-6">Register</a>
            </div>
        </div> 
         
    </main> 
    <footer>
        <p>Created By Liron Almog</p>
    </footer>
</div>
