<div class="my-body">

</div>
    <!-- <header>
        <h1 class="pt-3">MyCookBook</h1>
    </header> -->
<!-- 
        <div class="container">
            <div class="row justify-content-center">
                <a routerLinkActive="active"  routerLink="/create-recipe" class="btn col-md-4 col-6">Login</a>
            </div>
            <div class="row justify-content-center ">
                <a routerLinkActive="active"  routerLink="/create-recipe" class="btn mt-1  col-md-4 col-6">Register</a>
            </div>
        </div> 
         
    </main> 
    <footer>
        <p>Created By Liron Almog</p>
    </footer> -->

