/* You can add global styles to this file, and also import other style files */
:root{

    /*COLOR*/
    /* --BGCOLOR:#252B48; */
    --BGCOLOR:#e3f2fd;
    --FIRSTMAINCOLOR:#445069;
    --SECONDMAINDCOLOR:#5B9A8B;
    --THIRDMAINCOLOR:#252B48;
}
*{
    margin: 0;
    padding: 0;
    
}

.title{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.8rem;
}