<article >
    <header>
      <h1 class="text-center pt-2 ">Oops.</h1>
      <h4 class="text-center mt-1">The page you're trying to reach doesn't exist :(</h4>
    </header>
    <main class="d-flex justify-content-center mt-3">
      <img src="../../assets/images/panda.png" class="img-fluid" width="230px" height="230px"  alt="Page does not exist">
    </main>
    <footer class="row justify-content-center mt-3">
      <a class="col-md-2 col-3 btn p-1 mt-1" routerLink="/my-list">Home Page</a>
    </footer>
  </article>