
        <div class="card mt-4">
          <div class="card-header">
            <h5 class="text-center">Recipe Name: {{recipe.recipeName}}</h5>
            <hr>
            <h6 style="display:inline">Preparation Time:	&nbsp;</h6>
            <p style="display:inline">{{recipe.preparationTime}}</p>
            <br>
            <h6 style="display:inline">Cooking Time:	&nbsp;</h6>
            <p style="display:inline">{{recipe.cookingTime}}</p>
      
          
          <div class="row justify-content-center">  
            <button class="mt-3 btn btn-primary collapsed col-6" data-bs-toggle="collapse" 
            [attr.data-bs-target]="'#' + recipe.recipeId" aria-expanded="false" aria-controls="collapseThree">
              Full Recipe
            </button>
          </div>
          
          </div>
          <div id="{{recipe.recipeId}}" class="collapse"  data-bs-parent="#accordion">
            <div class="card-body">
              <h6>Instructions</h6>
             {{recipe.Instructions}}
            </div>
          </div>
        </div>
      