
        <div class="card mt-2">
          <div class="card-header ">
            <h5 class="text-center p-2">{{recipe.recipe_name}}</h5>

            <div class="row justify-content-center">
              <img class="img-fluid col-11" width="50px" height="35px" src="{{recipe.url_photo}}" alt="">
            </div>
            <!-- https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/14/14/pancakes-istock-stephaniefrey-.jpg?quality=75&width=990&crop=3%3A2%2Csmart&auto=webp -->

            <hr>
            <h6>Preparation Time:	&nbsp;{{recipe.preparation_time}}</h6>
            <h6>Gluten Free:	&nbsp;{{changeBoolToString(recipe.gluten_free)}}</h6>
            <h6>Servings:	&nbsp;{{recipe.servings}}</h6>
            <h6>Vegetarian	&nbsp;{{changeBoolToString(recipe.vegetarian)}}</h6>

          <div class="row justify-content-center">  
            <button class="mt-1 btn btn-primary collapsed col-6" data-bs-toggle="collapse" 
            [attr.data-bs-target]="'#' + recipe.recipe_id" aria-expanded="false" aria-controls="collapseThree">
              Description
            </button>
          </div>
          
          </div>
          <div id="{{recipe.recipe_id}}" class="collapse"  data-bs-parent="#accordion">
            <div class="card-body">
              <h6>Description</h6>
              <p>{{recipe.description}}</p>
              <div *ngIf="ingredients.length > 0">
                  <div *ngFor="let ingr of ingredients">
                    <p>Ingredient:{{ingr.description}}</p>
                    <p>quantity{{ingr.quantity}}</p>
                    <p>Unit:{{ingr.unit}}</p>
                </div>
              </div>

             <div class="row">
               <button class="btn mt-2 btn-success col-6" (click)="onClickIngredients(recipe.recipe_id)">Ingredients</button>
             </div>
            </div>
          </div>
        </div>
      