p {
  padding-bottom: 0px;
}

img {
  border-radius: 50px;
  max-width: 150px;
  max-height: 150px;
  width: 250px;
  height: 150px;
}

.card {
  padding: 8px;
}

.ingredients-btn {
  border-radius: 50%;
}

.description-btn {
  color: var(--BGCOLOR);
  font-weight: 600;
  background-color: var(--BUTTONCOLOR);
}
