<table  class="table mt-5 table-dark table-striped" >
    <thead>
      <tr>
        <th *ngFor="let field of colNames" scope="col">{{field}}</th>
      </tr>
    </thead>
    <tbody >
        <tr  *ngFor="let element  of ingredientsArray; let i = index" [recipe]="recipeElement">
          <th scope="row">{{i + 1}}</th>
          <td>{{element.ingredient}}</td>
          <td>{{element.type}}</td>
          <td>{{element.quantity}}</td>
          <td><button class="btn btn-danger" id="{{i}}" (click)="onDeleteClick(i)" >Delete</button></td>
      </tr>
    </tbody>
  </table>   