<table  class="table mt-5" >
    <thead>
      <tr>
        <th *ngFor="let field of colNames" scope="col">{{field}}</th>
      </tr>
    </thead>
    <tbody >
        <tr  *ngFor="let element  of ingredientsArray; let i = index" [recipe]="recipeElement">
          <th scope="row">{{i + 1}}</th>
          <td>{{element.ingredient}}</td>
          <td>{{element.type}}</td>
          <td>{{element.quantity}}</td>
          <td><button class="btn delete-btns" id="{{i}}" (click)="onDeleteClick(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>   
<button  class="btn delete-btns m-3"  (click)="onResetIngredients()">Reset Ingredient</button>