form {
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  background-color: #eae4e4e3;
}

.dont-have-account {
  margin-top: 10px;
  font-size: 0.8rem;
}

.btn:hover,
.btn:focus {
  color: aliceblue;
  background-color: var(--FIRSTMAINCOLOR);
}

.my-body {
  background-color: #f2f2f2;
}

.btn {
  color: var(--BGCOLOR);
  font-weight: 600;
  background-color: var(--BUTTONCOLOR);
}

h3 {
  text-align: center;
  font-weight: 800;
}

.passion-sentence {
  font-family: "Brush Script MT";
  font-size: 1.5rem;
  color: var(--SECONDMAINCOLOR);
  text-align: center;
  color: #90908e;
}

.dont-have-account {
  text-align: center;
  font-weight: 500;
}

.sign-in-link {
  white-space: nowrap;
}
